$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;

}

.btn-secondary {
  height: 180px
}
#playarea {
  display: none;
  margin: 100px auto;
	padding: 0px;
}

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

#sign-up {
  display: none;
}

#sign-in {
  display: none;
}
.btn-lg {
  font-size: 45px;
}
