$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;

}
#playarea {
margin: auto;
	background-color: #222222;
	padding: 0px;
}

.board-wrapper {
  margin: auto;
  width: 1000px;
}
