$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

.text-box {
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
}
body {
  background-color: $background-color;
  color: $font-color;
  font-size: 80;
  text-align: center;
  align-items: center;
}

#playarea {
  display: none;
	padding: 0px;
  margin: 50px auto;
  box-sizing: border-box;
  font-size: 80;
  float: none;
}

.grid {
  height: 150px;
  padding:0;
  // width: 150px;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 80;
}

.row {
  padding:0;
  // height: 33.33%;
  color:black;
  box-sizing: border-box;
}
#change-password {
  display: none;
}

#sign-out {
  display: none;
  margin: 30px auto;
}

#sign-up {
  display: none;
}

#sign-in {
  display: none;
  margin-top: 30px;
}

.get-div {
  clear: both;
}
@media (max-width: 600px) {
  #get-games {
    float: none;
  }
  #get-game {
    float: none;
  }
}
#get-games {
  display: none;
  float: left;

}

#get-game {
  display: none;
  float: right;

}
@media (max-width: 388px) {
  #get-games {
    float: none;
  }
  #get-game {
    float: none;
  }
}

#create-game {
  display: none;
  margin: 30px auto;
}

p {
  font-size: 80;
}

form {
  color: black;
}

btn {
  background-color: black;
}

legend {
  border: none;
  color: $font-color
}
